<center><img src="redpopcorn.jpg"></center>

**Netflix**! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset `netflix_data.csv`, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!

## The data
### **netflix_data.csv**
| Column | Description |
|--------|-------------|
| `show_id` | The ID of the show |
| `type` | Type of show |
| `title` | Title of the show |
| `director` | Director of the show |
| `cast` | Cast of the show |
| `country` | Country of origin |
| `date_added` | Date added to Netflix |
| `release_year` | Year of Netflix release |
| `duration` | Duration of the show in minutes |
| `description` | Description of the show |
| `genre` | Show genre |

In [49]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

In [51]:
netflix_df.head()

  show_id  ...             genre
0      s2  ...            Dramas
1      s3  ...     Horror Movies
2      s4  ...            Action
3      s5  ...            Dramas
4      s6  ...  International TV

[5 rows x 11 columns]

**What was the most frequent movie duration in the 1990s? Save an approximate answer as an integer called duration (use 1990 as the decade's start year).**

In [52]:
movies_90s = netflix_df[(netflix_df['type'] == 'Movie') & (netflix_df['release_year'].between(1990, 1999))]
movies_90s.head()

    show_id   type  ...                                        description     genre
6        s8  Movie  ...  After one of his high school students attacks ...    Dramas
118    s167  Movie  ...  At the center of this engrossing melodrama is ...    Dramas
145    s211  Movie  ...  After a run-in with Richard Grieco, dimwits Do...  Comedies
167    s239  Movie  ...  When a philandering club promoter sets out to ...  Comedies
194    s274  Movie  ...  Raised by a kindly thief, orphaned Jimmy goes ...    Dramas

[5 rows x 11 columns]

In [53]:
movies_90s['release_year'].unique()

array([1997, 1993, 1998, 1996, 1990, 1999, 1991, 1994, 1995, 1992])

In [54]:
movies_90s['duration'].unique()

array([119, 101,  82, 108, 154, 174, 122,  75, 160, 139,  49,  90,  95,
        78, 166, 103, 128,  89,  81,  73,  93,  28,  61,  56,  94,  99,
       125, 148, 164, 113,  91, 112,  62, 136, 165, 127, 105, 163,  88,
        69,  96, 133, 124, 118, 161, 130, 145, 149, 151, 104, 126, 142,
       116, 143, 193, 176, 170,  97, 114, 185, 109,  79, 189, 173,  98,
       102,  31, 187,  84, 117, 131, 120, 177, 121,  71, 195,  77, 110,
       111, 168, 135, 107, 155,  85,  83,  87, 138, 106, 141,  30, 191])

In [55]:
duration = int(movies_90s['duration'].mode()[0])
duration

94

**A movie is considered short if it is less than 90 minutes. Count the number of short action movies released in the 1990s and save this integer as short_movie_count.**

In [56]:
movies_90s = netflix_df[(netflix_df['type'] == 'Movie') & (netflix_df['release_year'].between(1990, 1999))]
action_movies_90s = movies_90s[movies_90s['genre'].str.contains("Action", na=False, case=False)]
short_action_movies = action_movies_90s[action_movies_90s['duration'] < 90]
short_action_movies.head()

     show_id   type  ...                                        description   genre
1288   s2039  Movie  ...  Fifteen years after the Second Impact, apathet...  Action
1698   s2708  Movie  ...  A pugilist from Shantung struggles to rise to ...  Action
2328   s3718  Movie  ...  An officer killed on the job returns to Earth ...  Action
2993   s4787  Movie  ...  Air marshal John Cutter must stop notorious te...  Action
3297   s5299  Movie  ...  During a visit to the Bronx to help out at his...  Action

[5 rows x 11 columns]

In [57]:
short_movie_count = len(short_action_movies)
short_movie_count

7